<html>
	<head>
	</head>
	<body>
		<div style="display:flex;">
			<div>
				<a href='<%= lnk%>'><%= title%></a>
			</div>
			<div>
				<img src='<%= imgSRC%>'>
			</div>
		</div>	 
	</body>
</html>